<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->

<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--      <div class="navbar-nav">-->
<!--&lt;!&ndash;        <img src="assets/Birthday_Cake.svg">&ndash;&gt;-->


<!--        <a class="nav-item nav-link" [routerLink]="['/customers']">Customer List</a>-->


<!--&lt;!&ndash;        <a class="nav-item nav-link" [routerLink]="['/items']">Menu Item List</a>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="navbar-nav ms-auto">-->
<!--        <a href="#" class="nav-item nav-link">Welcome Admin</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->




<router-outlet></router-outlet>
